################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/MilestoneTracker/bin
/src/MilestoneTracker/obj
/src/GitHub.Client/bin
/src/GitHub.Client/obj
