################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/MilestoneTracker/bin
/src/MilestoneTracker/obj
/src/GitHubMilestoneEstimator/bin
/src/GitHubMilestoneEstimator/obj
/src/GitHubMilestoneTracker.Contracts/bin
/src/GitHubMilestoneTracker.Contracts/obj
/src/MIlestoneTracker.FileBasedTeamStore/bin
/src/MIlestoneTracker.FileBasedTeamStore/obj
/src/*/*.csproj.user
