################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/MilestoneTracker/bin
/src/MilestoneTracker/obj
/src/GitHubMilestoneEstimator/bin
/src/GitHubMilestoneEstimator/obj
/src/GitHubMilestoneTracker.Contracts/bin
/src/GitHubMilestoneTracker.Contracts/obj
/src/MIlestoneTracker.FileBasedTeamStore/bin
/src/MIlestoneTracker.FileBasedTeamStore/obj
/src/*/*.csproj.user
/src/MT.DataManagement.Teams.AzureSql/bin
/src/MT.DataManagement.Teams.AzureSql/obj
/src/MilestoneTracker/node_modules
/src/RepoAnalytics.WebClient/.vscode
/src/.vscode
/src/MilestoneTracker/Properties/PublishProfiles
