body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.sectionHeader {
    font-weight: bold;
    font-size: 1.2em;
}

.profileIcon {
    width: 20px;
    height: 20px;
}

.column-header {
    font-size: 1.2em;
    font-weight: bolder;
    min-width: 150px;
    text-align: center;
}

.row-first-item {
    font-weight: bold;
    padding-left: 3px;
    text-align: left;
}

.row-item {
    text-align: center;
    width: 130px;
}

.row-last-item {
    font-weight: bolder;
    text-align: center;
}

.row-bottom-item {
    text-align: center;
    font-weight: bolder;
    font-size: 1.1em;
}

.row-item-max {
    color: red;
}

.row-item-min {
    color: green;
}

.row-member-unassigned {
    color: darkred;
    font-weight: bolder;
    font-style: italic;
}

.profileIcon {
    width: 15px;
    height: 15px;
    text-align: left;
}

.milestone-form {
    margin-top: 6px;
}

.form-input-label {
    font-weight: bolder;
}

.form-submit-button {
    width: 150px;
    margin-left: 6px;
    display: inline;
}

.milestone-form input {
    display: inline;
}