@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style type="text/css">
    .milestone-form {
        margin-top: 6px;
    }

    .form-input-label {
        font-weight: bolder;
    }

    .form-submit-button {
        width: 150px;
        margin-left: 6px;
        display: inline;
    }

    .milestone-form input {
        display: inline;
    }
</style>
<div class="row">
    <div class="col-md-3">
        @if (Model.Work != null)
        {
            @Html.Partial("WorkStatus", Model.Work)
            @*@Html.Partial("BurndownChart", Model.BurndownData)*@
        }
    </div>
</div>
<div class="row">
    <form method="get" class="milestone-form">
        <span class="form-input-label">Milestone:</span> @Html.EditorFor(m => m.Milestone, "Milestone", "Milestone")
        <input type="hidden" name="teamName" value="@Model.TeamName" />
        <button type="submit" class="form-submit-button">Retrieve</button>
    </form>
</div>
