@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Work != null)
{
    <div class="row">
        <partial name="~/Pages/WorkStatus.cshtml" for="Work" />
    </div>
}

<div class="row">
    <form method="get" class="milestone-form">
        <span class="form-input-label">Milestone:</span> @Html.EditorFor(m => m.Milestone, "Milestone", "Milestone")
        <input type="hidden" name="teamName" value="@Model.TeamName" />
        <button type="submit" class="form-submit-button">Retrieve</button>
    </form>
</div>
