@page
@model MilestoneTracker.Pages.MilestoneBurndownModel
@{
    ViewData["Title"] = "MilestoneBurndown";
}

<style type="text/css">
    .milestone-name {
        font-weight: bolder;
    }
</style>
<h2><span class="milestone-name">@Model.Milestone</span> Burndown for</h2>
<h3>@Model.TeamName</h3>

@Html.Partial("BurndownChart", Model.BurndownModel)