@using MilestoneTracker.ViewModels;

@model MergedPRsViewModel;
<div>
    <h2>Pull requests merged during last 7 days.</h2>
</div>

<partial name="~/Pages/PartialViews/PullRequestsListSectionView.cshtml" for="CommunityPRs" />
<br /><br />
<partial name="~/Pages/PartialViews/PullRequestsListSectionView.cshtml" for="InternalPRs" />